
    body {
      background-color: #f0f0f0;       /* Lichtgrijze achtergrond */
    }

    header {
      color: rgb(92, 71, 71);                    /* gekleurde tekst */
    }

    h1 {
      font-size: 28px;
    }

    h2 {
      font-size: 22px;
      color: #d21f1f;
      background-color: rgb(from rgb(175, 27, 27) r g b)
    }

    ol {
      background-color: rgb(22, 105, 78);
      display: inline-block;
      text-align: left;                /* Binnen de lijst links uitlijnen */
    }

    footer {
      background-color: #222;          /* Donkere footer */
      color: white;

    }

    img {
      width: 300px;
      height: auto;
      border-radius: 10px;
    }

   .emoji {
    font-size: 1.4em
   }

   body {
      background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExdjRxa3Vid2VhN2V2Nmk5ZzV3czYyNGRnbTcxN3Jrd2d1cmltNWtwbiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/OxwuhoLnIcWk0/giphy.gif')
      background-size: cover;             /* Vul heel het scherm */
      background-attachment: fixed;       /* Blijft op zijn plek bij scrollen */
      background-position: center center; /* Centraal plaatsen */
